<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto APIs - TP4</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
    <main class="container">

        <header class="hero fade-in">
            <h1>Proyecto APIs - TP4</h1>
        </header>
        
        <p class="subtitle">Integración con Clima, Países, Pokémon, Rick & Morty y Criptomonedas.</p>

        <!-- TARJETA DE BIENVENIDA -->
        <section class="welcome-card fade-in">
            <div id="welcomeMessage"></div>
            <button id="editarNombreBtn" class="btn small">Editar nombre</button>
        </section>

        <br>

        <!-- BOTONES PRINCIPALES -->
        <nav class="grid-buttons">
            <a class="btn big" href="clima.html">API del Clima</a>
            <br>
            <br>
            <a class="btn big" href="paises.html">API de Países</a>
            <br>
            <br>
            <a class="btn big" href="pokemon.html">API Pokémon</a>
            <br>
            <br>
            <a class="btn big" href="rick.html">API Rick & Morty</a>
            <br>
            <br>
            <a class="btn big" href="cripto.html">API Criptomonedas</a>
            <br>
            <br>
            <a class="btn big" href="turuc.html">API RUC</a>
            <br>
            <br>
        </nav>

        <br>
        <footer class="footer">
            <p>TP4 - Computación Gráfica y Programación Web</p>
        </footer>

    </main>

    <script src="../js/script_bienvenida.js"></script>
</body>
</html>
