<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Rick & Morty - Proyecto APIs</title>
  <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
  <main class="container">

    <header>
      <h2>Rick & Morty API</h2>
      <a class="btn small" href="index.html">Volver</a>
    </header>

    <section class="card">
      <label for="rickId">Ingresá un ID:</label>
      <input id="rickId" type="number" min="1" placeholder="Ej: 1">

      <button id="buscarRick" class="btn">Buscar</button>

      <div id="resultadoRick" class="result"></div>
    </section>

  </main>

  <script src="../js/rick.js"></script>
</body>
</html>
